* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-logo {
    width: 180px;
    height: 80px;
    padding-right: 200px;
}

.nav-container {
    display: flex;
    align-items: center;
    background-color: #E55473;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.menus {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 20px;
    font-weight: 15px;
    color: white;
}

.header {
    background-color: rgba(225, 80, 111, 0.10);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-title {
    display: flex;
    color: #272727;
    font-size: 70px;
    font-weight: 750;
}

.header-description {
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.header-image {
    width: 635px;
    height: 800px;
    padding-right: 200px;
    padding-top: 50px;
    transform: translateY(50px);
    padding-left: 100px;
}

.btn {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border-style: none;
    margin-top: 32px;
    margin-bottom: 167px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.header-lf {
    padding-left: 240px;
    padding-top: 197px;
}

.feature-flower {
    margin-top: 100px;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: auto;
    padding-bottom: 30px;
}

.feature-title-p {
    display: flex;
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
    padding-bottom: 30px;
}

.cards-flowers {
    display: flex;
    justify-content: space-around;
    padding-right: 25px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 25px;
}

.cards-flowers {
    text-align: center;
}

.flower-one {
    width: 400px;
    height: 500px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgba(167, 33, 98, 0.15);
    position: relative;
}

.carde-flower-single-one {
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 0px;
    left: 10%;
}

.flower-two {
    width: 400px;
    height: 500px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgba(5, 151, 160, 0.15);
    position: relative;
}

.carde-flower-single-two {
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 0px;
    left: 10%;
}

.flower-three {
    width: 400px;
    height: 500px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgba(71, 125, 17, 0.15);
    position: relative;
}

.carde-flower-single-three {
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 0px;
    left: 10%;
}

#flower {
    text-decoration-line: underline;
}

.hot-deal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
}

.hot-deal-img {
    padding-right: 450px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
}

.hot-deal-title {
    padding-left: 350px;
    padding-top: 230px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-description {
    padding-left: 335px;
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-deal-button {
    margin-left: 550px;
    margin-bottom: 160px;
}

span {
    color: #E55473;
}

.instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 130px;
    padding-bottom: 25px;
}

.instagram-p {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
    padding-bottom: 25px;
}

.card {
    max-width: 200px;
    max-height: 300px;
    padding: 25px;
}

.cards {
    display: flex;
    justify-content: center;
}

.latest-deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    /* padding-bottom: 200px; */
    padding-top: 120px;
}

.latest-deal-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 50px;
}

.latest-deal-section {
    background-image: url(./images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 100px;
}

.search {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-left: 290px;
    margin-bottom: 10px;
    border-style: none;
}

.search-btn {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border-style: none;
}

.f-t {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.f-d {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
    width: 640px;
    margin: auto;
    width: 640px;
    padding: 25 px;
    padding-top: 30px;
}

.footer {
    width: 100%;
    height: 400px;
    background: #111010;
    text-align: center;
    margin-top: 130px;
}

.f-f {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 100px;
    padding-top: 30px;
}

.shop {
    color: white;
}